@inherits Statiq.Razor.RazorTemplateBase<dynamic>

<!DOCTYPE html>
<html>
<head>
    <title>My Site Title</title>
</head>
<body>
    <h1>@Model.Content.title</h1>
    <p>@Model.Content.description</p>
</body>
</html>