:root {
  --text-color: black;
  --bg-color: white;
  --alt-table-row-color: #cccccc;
  --header-table-row-color: #74ebff;
  @media (prefers-color-scheme: dark) {
    --text-color: white;
    --bg-color: #181818;
    --alt-table-row-color: #0e0e0e;
    --header-table-row-color: #203f44;
  }
  font-family: sans-serif;
}

th {
  min-width: 200px;
  vertical-align: top;
}

h1 {
  text-align: center;
}

:not(button):link {
  color: #3787ff;

  :visited {
    color: #9b67ff;
  }
}

.launcher-icon {
  max-height: 6em;
}

.launcher-toggle-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.launcher-toggle {
  &.column-disabled {
    background-color: #a3a3a3;

    @media (prefers-color-scheme: dark) {
      background-color: #515151;
    }

    img {
      filter: saturate(0);
    }
  }
}

td.column-disabled, th.column-disabled {
  display: none;
}

.card {
  img:not(.big) {
    height: 2em;
    width: 2em;
  }
}


.yes, .download {
  background-image: linear-gradient(to bottom, #4FC921 0%, #40BA12 100%);

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #358c15 0%, #2a8306 100%);
  }
}

.no {
  background-image: linear-gradient(to bottom, #DC6650 0%, #CB553F 100%);

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #b53921 0%, #a82c19 100%);
  }
}

.import, .unknown {
  background-image: linear-gradient(to bottom, #ffd363 0%, #cda53d 100%);

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #c38a0d 0%, #a5750c 100%);
  }
}

.wip {
  background: repeating-linear-gradient(-45deg, #ffaf00 0, #ffae00 10px,
          #ffffff 10px, #ffffff 20px);

  @media (prefers-color-scheme: dark) {
    background: repeating-linear-gradient(-45deg, #9f6d00 0, #9f6d00 10px,
            #000000 10px, #000000 20px);
  }
}