---
import {getIcon, getName} from "../data/utils.ts";
const { launchers, values } = Astro.props as { launchers: LauncherDetails[], values: {
        identifier: string,
        value: MinecraftResources
    }[]};

const availableResources = [...new Set(values.flat().map(v => Object.keys(v.value)).flat())];
console.log(availableResources)

function valueFromLauncher(launcher: LauncherDetails, key: string) {
    const resource = values.find(v => v.identifier === launcher.identifier)!.value;
    return resource[key];
}
---
<tr><th colspan={launchers.length + 1}>Resource Download (Mods, Resourcepacks, Shaders, etc.)</th></tr>
{availableResources.map((key) => (
<tr>
    <td>{key}</td>
    { launchers.map(launcher => (
        <td class:list={[launcher.identifier, valueFromLauncher(launcher, key)?.providers?.length > 0 ? 'yes' : 'no' ]}>
            { valueFromLauncher(launcher, key)?.providers?.map(provider =>
                <div class="card">
                    {getIcon(provider) != "" ? <img loading="lazy" alt={getName(provider)} src={getIcon(provider)} /> : ""}
                    <span>{getName(provider)}</span>
                </div>
            )}
        </td>
    ))}
</tr>

))}

<style>
    img {
        height: 2em;
        width: 2em;
    }
</style>