---
import {getIcon, getName} from "../data/utils.ts";
const { launchers, values } = Astro.props as { launchers: LauncherDetails[], values: { identifier: string, value: FeatureModpack[] }[] };

const availableModPackPlatforms = [...new Set(values.flatMap(v => v.value).flatMap(v => v.name))];

function modpackForLauncher(launcherID: string) {
    return values.find((values) => values.identifier == launcherID)!.value;
}
function modpackFromList(launcherID: string, modpackName: string) {
    return modpackForLauncher(launcherID)!.find((modpack) => modpack.name == modpackName);
}

---
<tr><th colspan={launchers.length + 1}>Modpacks</th></tr>
{availableModPackPlatforms.map(modpack => (
<tr>
    <td class="modpack">
        { getIcon(modpack) != "" ? <img loading="lazy" alt={getName(modpack)} src={getIcon(modpack)} /> : ""}
        <span>{getName(modpack)}</span>
    </td>
    { launchers.map(launcher => (
            <td class:list={[launcher.identifier, modpackFromList(launcher.identifier, modpack)?.method.toLowerCase() ?? "no" ]}>
                { modpackFromList(launcher.identifier, modpack)?.method }
            </td>
    ))}
</tr>
))}

<style>
    .modpack {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 5px;
        height: 2em;
        overflow: hidden;
        gap: 10px;

        img {
            height: 2em;
            width: 2em;
            border-radius: 2px;
        }
        span {
            text-wrap: nowrap;
        }
    }
</style>