---
import {platform} from "node:os";
const { launchers, values } = Astro.props as { launchers: LauncherDetails[], values: { identifier: string, value: SupportedPlatform }[] };

const availablePlatforms = [...new Set(values.flatMap(v => Object.keys(v.value)) as OS[] )];

const platformIconsByOS: Record<OS, string> = {
    "windows": "/src/assets/windows.svg",
    "macos": "/src/assets/macos.svg",
    "linux": "/src/assets/tux.svg",
    "android": "/src/assets/android.svg",
    "ios": "/src/assets/apple_logo_rainbow.svg",
}

function getPlatformSupportForLauncher(launcherID: string) {
    return values.find((values) => values.identifier == launcherID)!.value;
}

---
<tr><th colspan={launchers.length + 1}>Platforms</th></tr>
{ availablePlatforms.map(os => (
    <tr>
        <td class:list={["platform", os]}>
            { platformIconsByOS[os] != null ? <img loading="lazy" src={platformIconsByOS[os]} alt={os} /> : ""}
            { os }
        </td>
        { launchers.map(launcher => (
            <td class:list={[launcher.identifier, getPlatformSupportForLauncher(launcher.identifier)[os] == null ? "no" : "yes"]}>
                { getPlatformSupportForLauncher(launcher.identifier)[os] == null ? "" : getPlatformSupportForLauncher(launcher.identifier)[os].join(', ') }

            </td>
        ))}
    </tr>
))}

<style>
    .platform {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 5px;
        height: 2em;
        overflow: hidden;
        gap: 10px;

        img {
            height: 2em;
            width: 2em;
            border-radius: 2px;
        }
    }
</style>