---

const { platform } = Astro.props;

const typedPlatform = platform as {os: OS, architectures: Architecture[]};
---
<a>
    <div class="artifact">
        {typedPlatform.architectures.join(', ')} | {typedPlatform.os}
    </div>
</a>

<style>
    .artifact {
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #eee;

        @media (prefers-color-scheme: dark) {
            background-color: #222;
        }
    }
</style>