---
import "../styles/global.css";
import "../styles/tailwind.css";
import Header from "../components/Header.astro";
---
<html lang="en" data-theme="tayou">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Minecraft Launcher Comparison</title>
    <script is:inline>
        (function() {
            const theme = document.cookie.match(/theme=([^;]+)/)?.[1] || 'tayou';
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>
	</head>
	<body>
		<Header>
			<slot />
		</Header>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>