:root {
    --text-color: black;
    --bg-color: white;
    --alt-table-row-color: #cccccc;
    --header-table-row-color: #74ebff;
    @media (prefers-color-scheme: dark) {
        --text-color: white;
        --bg-color: #181818;
        --alt-table-row-color: #0e0e0e;
        --header-table-row-color: #203f44;
    }
    font-family: sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

table, td, tr, th {
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

tr:nth-child(2n) {
    background-color: var(--alt-table-row-color);
}

th {
    font-weight: bold;
}

td, th {
    padding: 5px;
    height: 40px;
}

tr.header-row > th {
    position: sticky;
    top: 0;
    background-color: var(--header-table-row-color);
}

h1 {
    text-align: center;
}

:link {
    color: #3787ff;
    
    :visited {
        color: #9b67ff;
    }
}