# Simple workflow for deploying static content to GitHub Pages
name: Build and Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build_and_deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1.8.2
        with:
          dotnet-version: "8.x"

      - name: Restore dependencies
        run: dotnet restore ./PersonalWebsite/PersonalWebsite.csproj

      - name: Build Statiq site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Set GitHub token as an environment variable
        run: dotnet run --project ./PersonalWebsite/PersonalWebsite.csproj
        # Statiqs own thing doesn't seem to deploy like that, so lets just ignore it
        
      - name: Setup Pages
        uses: actions/configure-pages@v4
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload path
          path: './PersonalWebsite/output'
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4